<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h1 class ='text-center'>To-Do List</h1>
    <form id="task-form">
      <input type="text" class="form-control" placeholder="Enter task" id ='task-field'>
      <button type="submit" class="btn btn-primary center-block">Create</button>
    </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class ='text-center'> Task(s) </h2>
      <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
          Filter <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="task-menu">
          <li><a href="#">Name</a></li>
          <li><a href="#">Created Date</a></li>
        </ul>
      </div>
        <ol id='tasks-list'>
        </ol>
    </div>
    <div class="col-md-6">
      <h2 class ='text-center'> Done </h2>
      <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
          Filter <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="done-menu">
          <li><a href="#">Name</a></li>
          <li><a href="#">Created Date</a></li>
          <li><a href="#">Completed Date</a></li>
        </ul>
      </div>
        <ol id='finished-list'>
        </ol>
    </div>
  </div>
</div>
